:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: #213547;
    background-color: #ffffff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

#app {
    margin: 0 auto;
    padding: 2rem;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

#app {
    display: flex;
}
.content {
    display: flex;
    flex-direction: column;
}

[class|='card'] {
    width: 50vw;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

#shadow-image {
    width: 10px;
    height: 10px;
}

#image,
#canvas {
    display: block;
    margin: 0 auto 1em;
}

#image {
    max-width: 100%;
}
.card-shadow h2 {
    text-align: center;
}

#initial {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    box-sizing: border-box;
    padding: 3em;
}

.sidebar .item {
    margin-bottom: 1em;
}
#mosaic-image {
    width: 100%;
    image-rendering: pixelated;
}

.tip {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: white;
    transition: background-color 1s 0.2s, opacity 0.5s;
    z-index: -1;
    opacity: 0;
}

[class|='card']:hover .tip {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: saturate(50%) blur(8px);
    z-index: 0;
}
